body { background-color: #ccc; color: #000; }

body, p, ol, ul, td {
  font-family: sans-serif, verdana, arial, helvetica;
  font-size:   13px;
  line-height: 18px;
  }

colhead {
	font: 16px/16px sans-serif;
  }

centpar {
	font: 16px/16px sans-serif;
	}

a { 
	color: blue;
	font-family: sans-serif;
	}
a:visited { color: purple; }
a:hover { color: orange; }

#banner {
	background: #ccc;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 2px solid;
	font: small-caps 15px/15px sans-serif;
	color: black;
	text-align: center;
  }

#lside {
	float: left;
	width: 15em;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	background: #eee;
	height: 50em;
  }

#rside {
	float: right;
	width: 15em;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	background: #eee;
	height: 50em;
  }

#columns {
	background: #fff;
  }

#footer {
	background: #eee;
	}

#main {
	padding-top: 1ex;
	padding-left: 9em;
	padding-right: 1em;
	background: #fff;
	height: 50em;
	text-align: left;
	float: center;
  }