<!--
<video controls="controls">
  <source src="images/video_test.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

-->
<!--

<p>Principals at Verasay LLC contributed to in-flight photogrammetry, vortex flow visualization, and trailing aircraft vortex interaction studies on the aircraft pictured.</p>
-->

<p>Verasay LLC provides consulting on optical sensing, primarily in fiber optics. Contact us at brooks@verasay.com.</p>

<!--
<%= image_tag("EC96-43508-16-2.jpg")%>
<p></p>
<%= image_tag("EL-2001-00142-2.jpg")%>
-->

<%= image_tag("9516_wpm_lowres.jpg")%>