<!DOCTYPE html>
<html>
<head>
  <title> Welcome </title>
  <%= stylesheet_link_tag "verasay" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body id="page">
	
  <div id="banner">
	<h2>Essence - distilled</h2>
	
  <%
=begin THIS IS THE HTML THAT ADDS GOOGLE ADS %>
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-6368738255457627";
    /* Test unit */
    google_ad_slot = "3085451485";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  <%
=end %>

  </div>

  <div id="columns">
	
	<div id="lside">
    <colhead>Technology</colhead><br />
	  <a href="http://www.wikipedia.org/">enter</a><br />
    <br />
	  <colhead>Art</colhead><br />
	  <a href="http://www.wikipedia.org/">enter</a><br />
    <br />
    <colhead>Science</colhead><br />
	  <a href="http://www.wikipedia.org/">enter</a><br />
	</div>
	
	<div id="rside">
	  <colhead>Philosophy</colhead><br />
	  <a href="http://www.wikipedia.org/">enter</a><br />
    <br />
    <colhead>History</colhead><br />
	  <a href="http://www.wikipedia.org/">enter</a><br />
    <br />
    <colhead>Literature</colhead><br />
	  <a href="http://www.wikipedia.org/">enter</a><br />
    </div>

    <div id="main">
      <%= yield %>
    </div>

  </div>

  <div id="footer">
	Copyright 2012, Verasay LLC
  </div>

</body>
</html>