<!DOCTYPE html>
<html>

<head>
  <title>Verasay LLC</title>
  <%= stylesheet_link_tag "verasay" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body id="page">
  <div id="banner">
	<h1>Verasay LLC</h1>
	<h2>Photonics Engineering</h2>
  </div>
	
<%#    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-6368738255457627";
    /* Test unit */
    google_ad_slot = "3085451485";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
%>

  <div id="columns">
	
	<div id="lside">
    <colhead>Contact</colhead><br />
	  <a href="http://www.linkedin.com/in/brookschilders">LinkedIn </a><br />
    <br />
	</div>

	<div id="rside">
	  <colhead>Patents</colhead><br />
	  <a href="http://www.freepatentsonline.com/result.html?p=1&srch=ezsrch&pn=&apn=&all=&ttl=&abst=&aclm=&spec=&apd=&apdto=&isd=&isdto=&prir=&ccl=&icl=&in=Childers+Brooks&icn=&is=&ic=&an=&acn=&as=&ac=&ref=&fref=&oref=&parn=&pex=&asex=&agt=&uspat=on&date_range=all&stemming=on&sort=relevance&search=Search">link</a><br />
    <br />
    <colhead>SPIE Papers</colhead><br />
	  <a href="http://spie.org/app/search/browse?Ntt=Brooks+Childers&Dy=1&Nty=1&Nrpp=20">enter</a><br />
    <br />
    <colhead>SPE Papers</colhead><br />
	  <a href="http://www.spe.org/sitemap/search.php?q=Brooks%20Childers&cx=009616206375539138862:_7f3pu6glfg&start=0&sa=N/">enter</a><br />
    </div>

    <div id="main">
      <%= yield %>
    </div>

  </div>

  <div id="footer">
	Copyright 2012, Verasay LLC
  </div>

</body>
</html>