<!DOCTYPE html>
<html>
<head>
  <title>Verasay LLC</title>
  <%= stylesheet_link_tag "verasay"%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body id="page">
	
  <div id="banner">
	<h1>Verasay LLC</h1>
  </div>

  <div id="columns">
	
	<div id="lside">
	  <colhead>Optics Sites</colhead><br />
	  <a href="http://www.osa.org">OSA</a><br />
	  <a href="http://www.spie.org">SPIE</a><br />
      <br />
	  <colhead>Software Sites</colhead><br />
	  <a href="http://www.ruby-lang.org/en/">Ruby</a><br />
	  <a href="http://rubyonrails.org/">Rails</a><br />
	</div>
	
	<div id="rside">
	  <colhead>Photogrammetry Sites</colhead><br />
	  <a href="http://www.isprs.org">ISPRS</a><br />
	</div>

	<div id="main">
      <%= yield %>
    </div>

  </div>

  <div id="footer">
	Copyright 2012, Verasay LLC
  </div>

</body>
</html>